* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 5rem auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

li {
    list-style: none;
    width: calc((100% / 5) - 2rem);
}

.card {
    background-color: lightgrey;
    padding: 1rem;
    height: 270px;
    border-radius: 20px;
}

.card h1 {
    color: red;
}

